<div id="rightcol">
<table>
	<tr>
		<td class="rightmenutitle">
		<a class="title" href="/" title="SynHaptein">SynHaptein</a>
		</td>
	</tr>
	{% for post in site.categories.synhaptein limit:10 %}
    <tr>
		<td>
			<a class="title" href="{{ post.url }}" title="{{ post.title }}"> {{ post.title }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
<table>
	<tr>
		<td class="rightmenutitle">
		<a class="title" href="/scalator" title="Scalator">Scalator</a>
		</td>
	</tr>
	{% for post in site.categories.scalatorPost limit:10 %}
    <tr>
		<td>
			<a class="title" href="{{ post.url }}" title="{{ post.title }}"> {{ post.title }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
<table>
	<tr>
		<td class="rightmenutitle">
		<a class="title" href="/kaliya" title="Kaliya">Kaliya</a>
		</td>
	</tr>
	{% for post in site.categories.kaliyaPost limit:10 %}
    <tr>
		<td>
			<a class="title" href="{{ post.url }}" title="{{ post.title }}"> {{ post.title }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
<img style="margin-top:20px" src="/images/browser.png"/>
</div>
