<div id="rightcol">
<table>
	<tr>
		<td class="rightmenutitle">
		SynHaptein
		</td>
	</tr>
	{% for post in site.categories.synhaptein limit:5 %}
    <tr>
		<td>
			<a href="{{ post.url }}" title="{{ post.title }}"> {{ post.title }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
<table>
	<tr>
		<td class="rightmenutitle">
		Scalator
		</td>
	</tr>
	{% for post in site.categories.scalatorPost limit:5 %}
    <tr>
		<td>
			<a href="{{ post.url }}" title="{{ post.title }}"> {{ post.title }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
<table>
	<tr>
		<td class="rightmenutitle">
		Kaliya
		</td>
	</tr>
	{% for post in site.categories.kaliyaPost limit:5 %}
    <tr>
		<td>
			<a href="{{ post.url }}" title="{{ post.title }}"> {{ post.title }}</a>
		</td>
	</tr>
	{% endfor %}
</table>
<img style="margin-top:20px" src="/images/browser.png"/>
</div>
