---
layout: base
title: Kaliya JavaScript Distributed Computing Framework
---
{% assign transaction = 'Kaliya' %}
<h2>Kaliya</h2>
{% include kaliya.html %}
<div id="url_box" class="url-box"> 
 <ul class="clone-urls"> 
     <li id="http_clone_url"><span onclick="document.getElementById('url_field').value = 'https://github.com/synhaptein/kaliya.git';">HTTP</span></li>
     <li id="public_clone_url"><span onclick="document.getElementById('url_field').value = 'git://github.com/synhaptein/kaliya.git';">Git Read-Only</span></li>  
 </ul> 
 <input type="text" spellcheck="false" id="url_field" class="url-field" readonly="readonly" value="https://github.com/synhaptein/kaliya.git"/> 
 <span style="display:none" id="url_box_clippy"></span> 
</div>
{% for post in site.categories.kaliyaPost limit:5 %}
  <div id="container">
    <div class="entry-content">
      <h2 class="clear">
        <a href="{{ post.url }}" title="{{ post.title }}"> 
          {{ post.title }}
        </a><br/>
        <span class="date">{{ post.date | date: '%b. %d, %Y' }}</span>
      </h2>
      <p>
      {{ post.content }}
      </p>
      <a class="readmore" href="{{ post.url }}" title="{{ post.title }}"> 
          Read more...
      </a>
    </div> <!-- /.entry-content -->
  </div> <!-- /#container -->
{% endfor %}